numpy
pandas
matplotlib
scipy
requests
folium
branca
xyzservices
pyarrow
pykrige
bottleneck
numexpr
simplejson
zstandard
python-dateutil
pytz
packaging
kiwisolver
cycler
pyparsing
pillow
urllib3
charset-normalizer
idna
certifi
